<html>

<body>
<!--MESSAGE FLASHING EXAMPLE -->
{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

	<a href="{{url_for('newRestaurant')}}">Create a new restaurant</a><br />
{% if restaurants %}
{% for i in restaurants %}

<div>

<p>{{i.name}}</p>



<a href='{{url_for('editRestaurant',restaurant_id = i.id)}}' >Edit</a>
	<a href='{{url_for('deleteRestaurant', restaurant_id = i.id)}}' >
	Delete</a>

</div>


{% endfor %}
{% else %}
<div>
	There are no menu items
</div>
{% endif %}

</body>

</html>